<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="iiq-local-artifacts" value="https://pkgs.dev.azure.com/incidentiq/_packaging/iiq-local-artifacts/nuget/v3/index.json" />
	</packageSources>
	<config>
		<add key="repositoryPath" value=".\packages" />
	</config>
	<packageRestore>
		<add key="enabled" value="True" />
	</packageRestore>
</configuration>